<div id="<%= dom_id role %>">
  <p>
    <strong>Is user:</strong>
    <%= role.is_user %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= role.is_admin %>
  </p>

  <p>
    <strong>Role name:</strong>
    <%= role.role_name %>
  </p>

</div>
