<h1>Editing gnomes profile</h1>

<%= render "form", gnomes_profile: @gnomes_profile %>

<br>

<div>
  <%= link_to "Show this gnomes profile", @gnomes_profile %> |
  <%= link_to "Back to gnomes profiles", gnomes_profiles_path %>
</div>
